[Desktop Entry]
Name=WmWiFi
Comment=Wireless network monitor
Comment[pl]=Monitor sieci bezprzewodowej
Exec=wmwifi
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
